# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/media/
staticfiles/

# Virtual env
venv/
.env
fixmate_env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env.local
.env.production